* {
    margin: 0;
    padding: 0; 
}

::selection {
    background-color: #ff86a0;
    color: #ffe7f2; }

body {
    color:rgb(101, 38, 55);
    background: rgb(255,227,218);
    background: linear-gradient(0deg, rgba(255,227,218,1) 0%, rgba(255,250,225,1) 100%);
    background-image: url(../imagenes/fondo3.png);
    background-attachment: fixed;
    background-size: cover;
    
}

main {
    padding-top: 80px;
}

ul {
    list-style-type: none;
}

ul h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    color: rgb(101, 38, 55);
    padding-bottom: 30px;
}

li a {
    text-align: justify;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    margin: 0 auto;
}

.enlace_compra {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    color: rgb(101, 38, 55);
    border:#862451 2px solid;
    background-color: rgb(255, 235, 235);
    border-radius: 5px;
    padding: 6px;
    margin-left: 10px;
    transition: all 0.5s;
}

.enlace_compra:hover {
    color: #ff75ba;
    border:#ff75ba 2px solid;
}

header {
    background-color: #ac7d88c7;
    background: linear-gradient(to right, #ffb9ac, #b3487d);
    background-size: cover;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.seccion_compras {
    display: flex;
}

.header__contenedor {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__marca {
    height: 75px;
}

.header__marcaImg {
    height: 100%;
}

.eleccion {
    text-align: justify;
}

.estilo_eleccion {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin: 0 auto;
    text-align: justify;
}

.categorias {
    display:flex;
    background-color: rgb(255, 233, 233);
    width: 80%;
    max-width: 250px;
    min-height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: transform 0.5s;
    z-index:100;
    border-radius: 10px;
    padding: 40px;
}

#sidebar:target {
    transform: translateX(0);
}

.categorias_enlaces {
    text-decoration: none;
    color: rgb(101, 38, 55);
    transition: all 0.5s;
}

.categorias_enlaces:hover {
    color:rgb(255, 72, 121)
}

.iconos {
    font-size: 1.5rem;
    padding: 20px;
    color:rgb(255, 246, 235);
    transition: all 0.5s;
}

.iconos:hover {
    color:white;
}

.main {
    display:flex;
    margin: 0 auto;
    align-items: center;
}

.titulo {
    text-align: center;
    align-items: center;
    font-size: 3em;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
}

.parrafo {
    text-align: justify;
    margin: 0 auto;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.contenedor_img {
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.img {
    height: 100%;
    border-radius: 10px;
}

.titulo_dos {
    text-align: center;
    align-items: center;
    font-size: 4em;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
}

.titulo_tres {
    text-align: center;
    align-items: center;
    font-size: 5em;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
}

.cajaGrid__items {
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    
}

.cajaGrid__img {
    width: 60%;
    border-radius: 10px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.img_2 {
    width: 40%;
    border-radius: 10px; 
    object-fit: cover;
}

.info {
    text-align: center;
    align-items: center;
    line-height: 1.2em;
}

.info_2 {
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.2em;
}

.iconos_2 {
    font-size: 1.5rem;
    padding: 20px;
    color:rgb(101, 38, 55);
    transition: all 0.5s;
}

.contenedor_cartas {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
}

.contenedor_compra {
    margin: 50px;
    padding: 5px;
}

.card {
    width: 300px;
    border-radius: 10px;
    border:rgb(101, 38, 55) solid 1.4px;
    background-color: rgba(255, 255, 255, 0.491);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    transition: all 0.5s;
}

.card:hover { 
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.507);
}

.card_2 {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    border:rgb(95, 81, 84) solid 2px;
    background-color: rgba(255, 255, 255, 0.491);
    margin: 0 auto;
    margin-bottom: 20px;
}

.card_3 {
    width: 70%;
    margin: 0 auto;
    margin-left: 80px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4px;
}

.contenedor_cartas_2 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.botones {
    background-color:rgba(255, 255, 255, 0);
    border-radius: 20px;
    border: transparent solid 1px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.botones--2 {
    background-color:rgba(255, 255, 255, 0);
    border-radius: 20px;
    border: transparent solid 1px;
    margin: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn_busqueda {
    border:#862451 2px solid;
    color:#8f265b;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(255, 212, 231);
    width: 80px;
    height: 30px;
    transition: all 0.5s;
}

.btn_busqueda:hover {
    color: #ff75ba;
    border:#ff75ba 2px solid;
    background-color: rgb(255, 247, 251);
}

.input_busqueda {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border: #862451 2px solid;
}

.btn_compra {
    background-color:rgba(255, 255, 255, 0);
    border: transparent solid 1px;
}

.iconos_2:hover {
    color:rgb(255, 106, 146)
}

.main_2 {
    display: flex;
}

.carrito {
    margin: 0 auto;
    margin-bottom: 20px;
}

.carrito_botones {
    margin-left: 20px;
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffceb1);
    border: 1.5px solid #ff9dad;
    border-radius: 20px;
    transition: all 0.5s;
}

.carrito_botones:hover {
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffceb1);
    border: 1.5px solid #ffbdc8;
}

.subtitulo {
    width: 100%;
    font-size: 30px;
}

.btn_bs {
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffceb1);
    border: 1px solid #ffafbd;
}

.btn_bs:hover {
    background: linear-gradient(to right, #ffa4b3, #ffc5a3);
    border: 1px solid #ffbdc8;
}

.btn_bs2 {
    background: #976f76;
    border: 1px solid #8f6a70;
}

.btn_bs2:hover {
    background: #784e55;
    border: 1px solid #6a484e;
}

.btn_bs_3 {
    font-size: 22px;
    background: #ffafbd;
    background: linear-gradient(to right, #ffafbd, #ffceb1);
    border: 2px solid #ffafbd;
    border-radius: 5px;
    margin-top: 50px;
    transition: all 0.5s;
}

.btn_bs_3:hover{
    border: 2px solid #ffbdc8
}

.footer {
    background-color: #ac7d88c7;
    background: linear-gradient(to right, #ffb9ac, #b3487d);
    width: 100%;
    min-height: 40px;
}

.footer_letra {
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    color:rgb(242, 226, 221);
}

/* inicio de media querie para tableta */
@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column
    }

    .enlaces_contenedor {
        display: flex;
        flex-direction: column;
        text-align:center;
    }

    .enlace_compra {
        font-size: 13px;
        text-align: center;
        align-items: center;
        padding: 3px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .card_3 {
        width: 100%;
        margin: 0 auto;
        margin-left: 100px;
    }

    .input_busqueda {
        width: 300px;
        height: 30px;
    }
}

/* inicio de media querie para mobile */
@media screen and (max-width: 600px) {

    .titulo {
        text-align: center;
        align-items: center;
        font-size: 2em;
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 4rem;
        margin: 0 auto;
    }

    .parrafo {
        width: 300px;
        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
    }

    .contenedor_img {
        height: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .enlace_compra {
        font-size: 10px;
        text-align: center;
        align-items: center;
        padding: 6px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .card_3 {
        width: 50%;
        margin: 0 auto;
        margin-left: 80px;
    }

    .input_busqueda {
        width: 140px;
        height: 30px;
        margin-bottom: 10px;
    }

    .subtitulo {
        font-size: 20px;
        text-align: center;
    }

    .iconos {
        font-size: 1rem;
        padding: 10px;
        color:rgb(255, 246, 235);
        transition: all 0.5s;
    }

    .btn_bs_3 {
        font-size: 18px;
        margin-top: 120px;
        transition: all 0.5s;
    }
}